body {
  font: normal 120%/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #CB004A;
  color: rgb(24, 24, 28);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Page Elements */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: #CB004A;
}

a {
  transition: color .1s ease-out;
}

a:hover, a:visited {
  color: #76002B;
}

h1 a, h2 a {
  color: #4A4A4A;
  text-decoration: none;
}

h1 a:visited, h2 a:visited {
  color: #4A4A4A;
  text-decoration: none;
}

blockquote {
  border-left: 3px solid #CB004A;
  margin: 5px;
  padding: 1em;
}

hr {
  width: 90%;
  border: none;
  height: 1px;
  background-color: #CB004A;
  color: #CB004A;
}

pre, code {
  font-size: 0.85em;
  font-family: Menlo, monospace;
  border-radius: 4px;
  line-height: 1.5em;
}

pre {
  overflow-x: auto;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  background: #F7F7F7;
  border: 1px solid #F0F0F0;
}

code {
  background: #F7F7F7;
  padding: 0.1em;
}

table {
  margin: 0 auto;
}

th, td {
  border: 1px solid #4A4A4A;
  margin: 0;
  padding: 5px;
  empty-cells: show;
}

img, embed, object, video, .embed {
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

figcaption, p.caption {
  font-size: 0.90em;
  text-align: center;
  padding-top: 10px;
  color: #949494;
}

/* Layout */
.page {
  background-color: #FFFFFF;
  width: 100vw;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

header {
  display: flex;
  justify-content: space-between;

  grid-column: span 10 / span 10;
  margin: 0 1em 1em 1em;
}

header h1 {
  background-color: #CB004A;
  color: #FFFFFF;
  font-size: 1.5em;

  display: inline-block;
  margin: 0;
  padding: 0.25em 0.2em 0.25em 0.2em;
}

header nav {
  align-self: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 0.5em;
}

main, article {
  grid-column: span 10 / span 10;
  margin: 1em;
}

article header {
  margin: 0;
}

article footer {
  margin: 0;
}

main header {
  margin: 0;
}

article header h2 {
  margin: 0;
}

main header h2 {
  margin: 0;
}

main footer {
  margin: 0;
}

footer {
  grid-column: span 10 / span 10;
  margin: 1em;
  padding-bottom: 1em;
}

footer p {
  margin: 0;
  color: #949494;
  font-size: 0.75em;
}

@media only screen and (min-width: 640px) {
  header {
    grid-column: span 6 / span 6;
    grid-column-start: 3;
    margin: 0;
  }

  main, article {
    grid-column: span 6 / span 6;
    grid-column-start: 3;
    margin: 1em 0 0 0;
  }

  footer {
    grid-column: span 6 / span 6;
    grid-column-start: 3;
    margin: 1em 0 0 0;
  }
}
