		<h2>Login</h2>
		<form action="/admin/auth" method="post" accept-charset="utf-8">
		<fieldset>
			<ol>
				<li>
					<label for="username">Username: </label>
					<input type="text" name="username" value="">
				</li>
				<li>
					<label for="password">Password: </label>
					<input type="password" name="password" value="">
				</li>
				<li>
					<button type="submit">Login</button>
				</li>
			</ol>
		</fieldset>
		</form>
		<hr>