	<h2>Your Settings</h2>
	
	<form action="/admin/settings" method="post" accept-charset="utf-8">
	<fieldset>
		<ol>
			<li>
				<label for="text">Name: </label>
				<input type="text" name="name" value="<%= @author.name %>">
			</li>
			<li>
				<label for="text">Username: </label>
				<input type="text" name="username" value="<%= @author.username %>">
			</li>
			<li>
				<label for="text">Email: </label>
				<input type="email" name="email" value="<%= @author.email %>">
			</li>
			<li>
				<label for="text">Password: </label>
				<input type="password" name="password" value="">
				<p><small><em>If you enter a value, your password will be changed, otherwise it will stay the same.</em></small></p>
			</li>
			<li>
				<input type="hidden" name="old_password" value="<%= @author.password %>">
				<button type="submit">Submit</button>
			</li>
		</ol>
	</fieldset>
	</form>
	<hr>