---
title: Home
layout: default
---

<main>
  <p>
    I'm <strong><a href="/about.html">Nick Charlton</a></strong>, a software
    developer living in London, working at
    <a href="https://thoughtbot.com">thoughtbot</a> where I build digital
    products for clients but
    <a href="/projects.html">building various other things too</a>.
    This is the place where I write up what I learn.
  </p>

  <h2>Week Notes</h2>

  <ul>
    {% assign week_notes = site.posts | filter_posts: "tags", "includes 'week-notes'" %}
    {% for post in week_notes limit:5 %}
    <li>{% include post_line_item.html post=post %}</li>
    {% endfor %}
  </ul>

  <h2>Articles</h2>

  <ul>
    {% assign posts = site.posts | filter_posts: "tags", "excludes 'week-notes'" %}
    {% for post in posts limit:5 %}
    <li>{% include post_line_item.html post=post %}</li>
    {% endfor %}
  </ul>
</main>
