	<article>
		<h2>About</h2>
		<p>I'm currently a second year Computer Science student at the <a href="http://plym.ac.uk/">University of Plymouth</a>. I am also working on a few projects, most of this is in Cocoa/Objective-C for iOS, but also in Ruby. I also occasionally work on things in PHP and languages such as C&#35;, Java. Sometimes I do a bit of design.</p>
		<h3>Also, I am...</h3>
		<ul>
			<li>currently safety officer for <a href="http://termisoc.org/" title="TermiSoc">TermiSoc</a></li>
			<li>you can sometimes find me on &#35;<a href="irc://chat.termisoc.org/termisoc">termisoc</a></li>
			<li>or, @<a href="http://twitter.com/nickcharlton" title="">nickcharlton</a> on Twitter</li>
			<li>email: <a href="mailto:&#x68;&#x65;&#x6C;&#x6C;&#x6F;&#x40;&#x6E;&#x69;&#x63;&#x6B;&#x63;&#x68;&#x61;&#x72;&#x6C;&#x74;&#x6F;&#x6E;&#x2E;&#x6E;&#x65;&#x74;">hello@nickcharlton.net</a></li>
			<li>on GitHub as <a href="http://github.com/nickcharlton" title="nickcharlton's Profile - GitHub">nickcharlton</a></li>
			<li>and on <a href="http://uk.linkedin.com/in/nickcharlton">LinkedIn</a> too. Want to <a href="/resources/cv_web.pdf">see my CV? That's here</a>.</li>
		</ul>
	</article>
	<hr>