<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8">
		<title>Admin: Tags</title>
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	
	<body>
		<h1 id="all_tags">All Tags</h1>
		<ul>
		<% for tags in @tags do %>
			<li><%= tags.name %> &ndash; <%= tags.post_id %></li>
		<% end %>
		</ul>
	</body>

</html>
