	<article>
		<% if @error == 404 then %>
		<h2><a href="/">404</a></h2>
		<p>It looks like we've lost that. That was silly of us. We've made a note of it.</p>
			
		<p>If you have any questions, please <a href="/about">get hold of us</a>.</p>
		
		<% else %>
		
		<h2><a href="/">500</a></h2>
		<p>It looks like we've broken something somewhere. We've made a note of it.</p>
			
		<p>If you have any questions, please <a href="/about">get hold of us</a>.</p>
		
		<% end %>
	</article>