<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8"/>
		<% if @settings['title'] then %>
		<% page_title = @settings['title'] + " &mdash; " + @settings['site_name'] %>
		<% else %>
		<% page_title = @settings['site_name']  %>
		<% end %>
		<title><%= page_title %></title>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" media="all" href="/stylesheets/styles.css"/>
		<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0"/>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<link href="/javascript/prettify/prettify.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="/javascript/prettify/prettify.js"></script>
		<link rel="author" href="http://nickcharlton.net/contact">
		<link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/atom.xml" />
		<script type="text/javascript" charset="utf-8">
			// add a class to each generated code/pre block
			$(document).ready(function(){
				$('pre').addClass('prettyprint');
			});
		</script>
		
	</head>

	<body onload="prettyPrint()">
		<header>
			<div id="icons">
				<a href="/"><img src="/images/house_500.png" alt="Home" width="16px" height="16px"></a>
				<% if auth! %>
				&nbsp;
				<a href="/admin/post"><img src="/images/pen_paper_500.png" alt="New Post" width="16px" height="16px"></a>
				<a href="/admin/settings"><img src="/images/settings_500.png" alt="Settings" width="16px" height="16px"></a>
				&nbsp;&nbsp;
				<a href="/admin/logout"><img src="/images/logout_500.png" alt="Logout" width="16px" height="16px"></a>
				<% end %>
			</div>
			<div id="search">
				<form action="/search" method="get" accept-charset="utf-8">
					<input type="search" name="q" value="" id="searchbox" placeholder="search...">
				</form>
			</div>
			<div class="clear"></div>
			<hr>
		</header>
	
		<%= yield %>
		
		<footer>
			<div id="text">
				<p><a href="/about">Nick Charlton</a> writes here. You can find <a href="/projects">projects here</a>, and <a href="/archives">archives here</a>.</p>
				<p><em>Ruby developer, occasional designer &amp; Computer Science Student.</p>
			</div>
			
			<div id="links">
					<a href="/atom.xml"><img src="/images/rss_500.png" alt="RSS" width="24px" height="24px"></a>
					<a href="http://twitter.com/nickcharlton" title=""><img src="/images/twitter_500.png" alt="Twitter" width="24px" height="24px"></a>
					<a href="mailto:&#x68;&#x65;&#x6C;&#x6C;&#x6F;&#x40;&#x6E;&#x69;&#x63;&#x6B;&#x63;&#x68;&#x61;&#x72;&#x6C;&#x74;&#x6F;&#x6E;&#x2E;&#x6E;&#x65;&#x74;"><img src="/images/email_500.png" alt="Email" width="24px" height="24px"></a>
			</div>
			<div class="clear"></div>
		</footer>
	</body>
	
	<% if !auth! %>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-775110-4");
		pageTracker._trackPageview();
		} catch(err) {}
	</script>
	<% end %>
</html>