<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8">
		<title><%= @settings['site_name'] %></title>
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link href="/javascript/prettify/prettify.css" type="text/css" rel="stylesheet" />
		<link href="/javascript/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
		<link rel="author" href="http://nickcharlton.net/contact">
		
		<script type="text/javascript" src="/javascript/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/javascript/facebox/facebox.js"></script>
		<script type="text/javascript" src="/javascript/prettify/prettify.js"></script>
	</head>
	<body onload="prettyPrint()">
		<script type="text/javascript" charset="utf-8">
			jQuery(document).ready(function($) {
			  $('a[rel*=facebox]').facebox() 
			})
		</script>
		
		<%= yield %>
		
		<section>
			<aside>
				<h1 id="header"><a href="/" class="logo">nickcharlton.net</a></h1>
				<p>
					<small><em>Ruby developer, designer<br>…and a CompSci student.</em></small>
				</p>
				<nav>
					<ul class="nav">
						<li class="nav"><a href="/articles">articles</a></li>
						<li class="nav"><a href="/projects">projects</a></li>
						<li class="nav"><a href="/devnotes">dev notes</a></li>
						<li class="nav"><a href="/about">about</a></li>
					</ul>
				</nav>
				<form action="/search" method="get" accept-charset="utf-8">
					<input type="search" name="q" value="" id="searchbox" placeholder="search...">
				</form>
			</aside>
			<div class="clear"></div>
			<footer class="page">
				<hr>
				<p>
					<small>Copyright <%= @settings['owner'] %> 2010. Licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/uk/" title="Creative Commons &mdash; Attribution-Non-Commercial-Share Alike 2.0 UK: England &amp; Wales">CC</a>. Powered by <a href="http://github.com/nickcharlton/sinba">Sinba</a>. <% if auth! == false %><a href="/admin/login" rel="facebox">Login</a>.<% else %> <a href="/admin/post" rel="facebox">Post</a>. <a href="/admin/logout">Logout</a>. <% end %></small>
				</p>
			</footer>
		</section>
	</body>
</html>
