<div id="main">
	<article>
		<h2>Title</h2>
		<p>
			This is a page
		</p>
		<footer>
			<p>
				<small>By Nick on <time datetime="2010-05-13T19:19:07+01:00">2010-05-13</time>. Tagged with x, y, z.</small>
			</p>
		</footer>
	</article>
</div>