	<article>
		<h2>Projects</h2>
	    <p>I'm quite prolific with projects. Some of the ones below are side products of other things. Some of these have been worked on for quite a long time before being released, others can be considered more hacks.</p>

        <div class="project">
            <h3>Where's Next?</h3>

            <p>Where's Next? is an iPhone application.</p>
            
            <p>Nobody really likes doing errands. How about a way to help you do them quicker?</p>
            <p>Where's Next? takes the places you need to visit and according to where you are now tells you the quickest way to visit them.</p>

            <ul>
                <li><a href="http://wheresnextapp.com/">Where's Next? Site</a></li>
                <li><a href="http://itunes.apple.com/gb/app/wheres-next/id454450198?mt=8">On the App Store</a></li>
            </ul>
        </div>

        <div class="project">
            <h3>Jacks</h3>

            <p>Jacks is a web development framework. It's designed to be a starting point for responsive designs. It's intended to provide the basic elements for you, whilst you work on the rest.</p>

            <ul>
                <li><a href="http://github.com/nickcharlton/jacks">On GitHub</a></li>
                <li><a href="http://nickcharlton.net/post/jacks-a-place-to-start-web-projects">Blog Post</a></li>
            </ul>
        </div>

		<div class="project">
			<h3>UrbanScraper (and the Alfred Extension)</h3>
			
			<p>UrbanScraper is a web service for accessing definitions from Urban Dictionary. It was created to use with the Alfred Extension. It's written in Ruby using Sinatra and the Nokogiri gem for using XPath. It's hosted on <a href="http://heroku.com">Heroku</a>.</p>
			
			<p>The Alfred Extension is for the Mac productivity application, <a href="http://alfredapp.com/">Alfred</a>. You'll need the <a href="http://alfredapp.com/powerpack/">Powerpack</a>. It uses the web service to take a term and output the definition through Growl. It's written in PHP (as it has JSON support built in).</p>
			
			<ul>
				<li><a href="http://urbanscraper.herokuapp.com/">UrbanScraper</a></li>
				<li><a href="https://github.com/nickcharlton/urbanscraper">UrbanScraper on GitHub</a></li>
				<li><a href="/resources/urban_dictionary.alfredextension">Download the Alfred Extension</a></li>
				<li><a href="http://nickcharlton.net/post/introducing-urban-scraper">Blog Post</a></li>
			</ul>
		</div>

		<h3><a href="http://github.com/nickcharlton">Over on GitHub...</a></h3>
		<ul>
        <% for repo in @github %>
			<li><a href="<%= repo['html_url'] %>"><%= repo['name'] %></a> &mdash; <%= repo['description'] %></li>
		<% end %>
        </ul>
	</article>
	<hr>
