	<article>
		<h2>Projects</h2>
		<p><a href="http://www.codinghorror.com/blog/2009/12/version-1-sucks-but-ship-it-anyway.html">Real Programmers Ship</a>. And, that is the purpose of this page, here is a list of projects I have been working on and where you can read more about them.</p>
		
		<h3>Open Source (on <a href="http://github.com/nickcharlton">GitHub</a>)</h3>
		<% for repo in @github %>
		<ul>
			<li><a href="<%= repo['url'] %>"><%= repo['name'] %></a> &mdash; <%= repo['description'] %></li>
		</ul>
		<% end %>
	</article>
	<hr>