<div id="main">
	<h1>We found...</h1>
	
	<% if !@result.empty? %>
	<article>
		<ul>
			<% for post in @result do %>
			<li><a href="/post/<%= post.url %>"><%= post.title %></a></li>
			<% end %>
		</ul>
	</article>
	<% else %>
	
		<h3>...nothing, unfortunately.</h3>
	
		<p>Keep in mind that I only support title searching (and really of one word). For now, anyway.</p>
	<% end %>
</div>