body {
	font-family: “Gill Sans”, Calibri, “Trebuchet MS”, sans-serif;
	background-color: #AFBDC0;
	color: #1E1E1E;
	margin: 0;
}
#main { 
	float:left; 
	width: 70%;
	padding: 20px;
}
aside { 
	float:right; 
	text-align: right;
	background-color: #4E5963;
	color: #AFBDC0;
	margin: 0;
	padding: 5px 10px 15px 10px;
	-moz-border-radius-bottomleft: 25px; /* FF1+ */
	-webkit-border-bottom-left-radius: 25px; /* Saf3+, Chrome */
	border-bottom-left-radius: 25px; /* Opera 10.5, IE 9 */
}
ul.nav, li.nav {
	list-style-type: none;
}
footer {
    
}
footer.page {
    text-align: right;
}

.clear {
	clear: both;
}

h1, h2, h3, h4, h5 {
	font-family: Palatino, “Palatino Linotype”, Georgia, Times, “Times New Roman”, serif;
}
a {
	color: #1E1E1E;
}
a.logo {
    color: #AFBDC0;
    text-decoration: none;
}