/*
	Based upon Less Framework 2, version 2.0
	Originally by Joni Korpi, modifications
	and personalisations by Nick Charlton.
	-----------------------------
	http://lessframework.com
*/

/* 
	Resets
	------
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object {
	display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}



/*
	Typography presets
	------------------
*/

.gigantic {
	font-size: 105px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -2px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
	letter-spacing: -1px;
}

.big, h3 {
	font-size: 26px;
	line-height: 36px;
}

.normal, body {
	font: 16px/1.5 Baskerville, Times, “Times New Roman”, serif;
}
.serif, h1, h2, h3, h4, h5 {
	font-family: “Helvetica Neue”, Arial, Helvetica, sans-serif;
	padding: 7px 0 7px 0;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
} 

blockquote {
    background: #dfe4e5;
    padding: 10px;
    width: 75%;
    margin: 0 auto;
    font-style: italic;
}

hr {
	color: #4E5963;
	background: #4E5963;
	border: 0px;
	height: 1px;
	margin: 10px 0 10px 0;
}

ul {
    list-style-position: inside;
}

a:link {
    color: #000000;
}
a:hover {
    color: #4E5963;
}
a:visited {
    color: #4E5963;
}
header img {
    padding: 4px 2px 2px 2px;
}
header img:hover {
    background-color: #e6e9eb;
}

h2 img {
    vertical-align: middle;
    display:none;
}
.show {
    display: inline;
}

footer a:link {
    color: #AFBDC0;
}
footer a:hover {
    color: #000000;
}
footer a:visited {
    color: #000000;
}
footer img {
    padding: 5px;
}
footer img:hover {
    background-color: #AFBDC0;
}
article footer a:link {
    color: #000000;
}
article footer a:hover {
    color: #4E5963;
}

.clear {
    clear: both;
}

::selection 	 {background: #e6e9eb;}
::-moz-selection {background: #e6e9eb;}

/*
    Form Styles
*/

form fieldset li {
    list-style: none;
    padding: 5px;
    margin: 0;
}
form label {
    width: 75px;
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
}
form input {
    font-size: 14px;
}
form textarea {
    font-family: Monaco, monospace;
    font-size: 14px;
}
form input.post, textarea.post {
    width: 420px;
}

/* 
    Code Styles
*/

code {
    background: #dfe4e5;
    font: 12px Monaco, monospace;
}

pre {
    background: #dfe4e5;
    padding: 10px;
    width: 75%;
    margin: 10px auto;
    overflow: auto;
    font: 12px Monaco, monospace;
}

/*
	Default 5-column, 768 px layout for iPads, netbooks, and IE
	(All other layouts inherit styles from this layout)
	-----------------------------------------------------------
	1      2      3      4      5     
	120px  264px  408px  552px  696px   (24px gutters)
*/

body {
	background: #AFBDC0;
	padding: 16px 36px 0;
	margin: 0 auto;
	width: 696px;
}

header {
	color: #AFBDC0;
}
header #icons {
    padding-left: 5px;
    float: left;
}
header #search {
    padding-right: 5px;
    float: right;
}
header hr {
    margin-top: 0px;
}

footer {
	background: #4E5963;
	color: #AFBDC0;
	padding: 5px 5px 0 5px;
	margin-bottom: 5px;
}
footer #text {
    float:left;
}
footer #links {
    float:right;
    padding: 5px 7px 0 0;
}

article footer {
	background: #AFBDC0;
	color: #000000;
	padding: 10px 0 0 0;
}


/* 
	2-column, 320 px layout for smartphones
	---------------------------------------
	1      2
	120px  264px   (24px gutters)
*/

@media only screen and (max-width: 767px) {
	
	body {
		padding: 5px 10px 0;
		width: 300px;
	}
	
	pre {
	    width: 85%;
	}
	
	footer #text {
        float:none;
        text-align: center;
    }
    footer #links {
        float:none;
        text-align: center;
    }
	
}



/* 
	8-column, 1224 px layout for desktops and laptops
	------------------------------------------------------------------------
	1      2      3      4      5      6      7      8
	120px  264px  408px  552px  696px  840px  984px  1128px   (24px gutters)
*/

@media only screen and (min-width: 1224px) {
	
	body {
		padding: 72px 48px 0;
	}
	
}