<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Nick Charlton">
    <meta name="description" content="iOS, Mac and Ruby Developer. Amateur Chef.">
    <meta name="viewport" content="width=device-width">

    <title>$title$ &mdash; Nick Charlton</title>

    <link rel="me" href="https://github.com/nickcharlton" />
    <link rel="me" href="https://twitter.com/nickcharlton" />
    <link rel="me" href="mailto:nick@nickcharlton.net" />
    <link rel="pgpkey" href="/nickcharlton.pub" />
    <link rel="openid.delegate" href="http://nickcharlton.net/" />
    <link rel="openid.server" href="https://indieauth.com/openid" />

    <!-- nice fonts -->
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7957472/701342/css/fonts.css" />
    <!-- sensible default styles -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- pretty custom styles -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- code styles -->
    <link rel="stylesheet" href="/css/code.css">

    <!-- big icon -->
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
  </head>

  <body>
    <header>
      <h1><a href="/">Nick Charlton</a></h1>

      <nav>
        <ul>
          <li><a href="/archives.html">Archives</a></li>
          <li><a href="/projects.html">Projects</a></li>
        </ul>
      </nav>
    </header>

    $body$

    <footer>
      <p>&copy; Nick Charlton 2014. <a
      href="http://creativecommons.org/licenses/by-nc-sa/2.0/uk/">CC-BY-A-UK</a>.
      <a href="/atom.xml">Atom Feed</a>.</p>
      <p><a href="mailto:nick@nickcharlton.net" rel="me">Email</a>. <a href="/nickcharlton.pub">GPG</a>.</p>
    </footer>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4eefb159f5a1f54437000009');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
  </script>
  </body>
</html>
