<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Nick Charlton">
    <meta name="description" content="iOS, Robotics, Python, 3D printing, and other thoughts.">
    <meta name="viewport" content="width=device-width">

    <title>$title$ &mdash; nickcharlton.net</title>

    <!-- nice icons -->
    <link href="/fonts/ss-social-regular.css" rel="stylesheet">
    <!-- nice fonts -->
    <script src="http://use.typekit.com/lzm1ibs.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- sensible default styles -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- pretty custom styles -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- code styles -->
    <link rel="stylesheet" href="/css/code.css">
  </head>

  <body>
    <header>
      <h1><a href="/">nickcharlton.net</a></h1>
      <nav>
        <ul>
          <li><a href="/about.html">About</a></li>
          <li><a href="/projects.html">Projects</a></li>
          <li><a href="/archives.html">Archives</a></li>
          <li><a href="/links.html">Links</a></li>
        </ul>
      </nav>
      <hr>
    </header>

    $body$

    <footer>
      <div id="blurb">
        <p><a href="/about.html">Nick Charlton</a> writes here. You can find 
           <a href="/projects.html">projects here</a>, and 
           <a href="/archives.html">archives here</a>.</p>
        
        <p><em>Hardware &amp; iOS Hacker. Likes Robots.</em></p>
      </div>

      <nav>
        <a href="https://alpha.app.net/nickcharlton" class="ss-icon">&#xF614;</a>
        <a href="mailto:hello@nickcharlton.net" class="ss-icon">&#x2709;</a>
        <a href="/atom.xml" class="ss-icon">&#xE310;</a>
       </nav>
    </footer>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4eefb159f5a1f54437000009');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
  </script>
  </body>
</html>
