<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Nick Charlton">
    <meta name="description" content="{% if page.excerpt != nil %}{{page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }} &mdash; {{ site.title }}</title>

    <link href="atom.xml" type="application/atom+xml" rel="alternate" title="nickcharlton.net Atom Feed" />
    <link rel="me" href="https://github.com/nickcharlton" />
    <link rel="me" href="https://twitter.com/nickcharlton" />
    <link rel="me" href="https://mastodon.nickcharlton.net/@nick" />
    <link rel="me" href="mailto:nick@nickcharlton.net" />
    <link rel="pgpkey" href="{{ "/nickcharlton.asc" | prepend: site.baseurl }}" />
    <link rel="openid.delegate" href="https://nickcharlton.net/" />
    <link rel="openid.server" href="https://indieauth.com/openid" />

    <!-- sensible default styles -->
    <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}" />
    <!-- pretty custom styles -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
    <!-- code styles -->
    <link rel="stylesheet" href="{{ "/css/code.css" | prepend: site.baseurl }}" />

    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/resources/favicons/favicon-16x16.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/resources/favicons/favicon-32x32.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ "/resources/favicons/favicon-96x96.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/resources/favicons/android-icon-192x192.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ "/resources/favicons/apple-icon-57x57.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ "/resources/favicons/apple-icon-60x60.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/resources/favicons/apple-icon-72x72.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "/resources/favicons/apple-icon-76x76.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/resources/favicons/apple-icon-114x114.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/resources/favicons/apple-icon-120x120.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/resources/favicons/apple-icon-144x144.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/resources/favicons/apple-icon-152x152.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/resources/favicons/apple-icon-180x180.png" | prepend: site.baseurl }}">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="{{site.url}}{{ page.url }}" />
    <meta property="og:description" content="{% if page.excerpt != nil %}{{page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:locale" content="en_UK" />
    <meta property="og:type" content="article" />
  </head>

  <body>
    <div class="page">
      <div class="grid">
        <header>
          <a href="{{ site.baseurl }}/"><h1>NC</h1></a>

          <nav>
            <ul>
              <li><a href="/about.html">About</a></li>
              <li><a href="/archives.html">Archives</a></li>
              <li><a href="/projects.html">Projects</a></li>
            </ul>
          </nav>
        </header>

        {{ content }}

        <footer>
          <p>&copy; Nick Charlton 2022. <a
          href="https://creativecommons.org/licenses/by-nc-sa/2.0/uk/">CC-BY-A-UK</a>.
          <a href="/atom.xml">Atom Feed</a>.</p>
        </footer>
      </div>
    </div>

    <script async type="text/javascript" src="https://plausible.io/js/analytics.js"></script>
  </body>
</html>
