---
layout: default
---
<article>
  <header>
    <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
  </header>

  <footer>
    <p>
      Posted on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>.
      {% if page.updated_at %}
      Last updated on <time datetime="{{ page.updated_at | date_to_xmlschema }}">{{ page.updated_at | date: "%B %-d, %Y" }}</time>.
      {% endif %}
      Tagged with: {{ page.tags | array_to_sentence_string }}.
    </p>
  </footer>

  {{ content }}
</article>
